# Node modules
node_modules/
client/node_modules/
server/node_modules/
client/package-lock.json
server/package-lock.json

# Environment variables
client/.env
server/.env

# Build files
client/build/

# Logs
*.log

